*, html, body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: #d8dcff;
    width: 100%;
}
h1{
    text-align: center;
    background-color: #aeadf0;
    color:#a76571;
}
.menu > ul{
font-size: 0px;
}
.menu ul li {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
.menu ul li a{
    display: block;
    background: #c38d94;
    padding: 15px;
    text-align: center;
    border-right: 2px solid violet;
}
.page_last{
    border-right: 0;
}
a{
    text-decoration: none;
    font-size: 25px;
    color: #565676;
    text-shadow: violet 2px 2px;
}
ul.where{  
    display: none;
}
ul.where li{ 
    width: 100%;
    display: block;
    position:relative;
}
ul.where li .inner{
    border:none;
}
.menu ul li:hover ul.where{
    display: block;
}
ul.wtf{
    position: absolute;
    right: 100%;
    top: 0;
    display: block;
}
ul.wtf{
    display: none
}
.menu .where li:hover ul.wtf{
    display: block;
}
.menu .where li a{
    display: block;
    background: #cea9fb;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #9c85bf;
}
ul.wtf li .ok{
    border:none;
}
ul.high li .blya{
    border:none;
}
ul.bed li .oke{
    border:none;
}
ul.tree li .okey{
    border:none;
}
.menu .wtf li a{
    display: block;
    background: #b36b7f;
    padding: 15px;
    text-align: center;
    border-top:2px solid #654074;
    text-shadow: #b36b7f 2px 2px;
}

ul.bed{
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
}
.where .bed li a{
    display: block;
    background: #b36b7f;
    padding: 15px;
    text-align: center;
    border-top:2px solid #654074;
    text-shadow: #b36b7f 2px 2px;
}
ul.where .none:hover ul.bed{
    display: block;
}
ul.tree{
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
}
.where .tree li a{
    display: block;
    background: #a2d2ff;
    padding: 15px;
    text-align: center;
    border-top:2px solid #654074;
    text-shadow: #b36b7f 1px 1px;
}
ul.high{
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
}
.wtf .high li a{
    display: block;
    background: #a2d2ff;
    padding: 15px;
    text-align: center;
    border-top:2px solid #a0c4ff;
    text-shadow: #ffc8dd 2px 2px;
}
ul.wtf .okkkk:hover ul.high{
    display: block;
}
ul.where .one:hover ul.tree{
    display: block;
}
















a.page1::before{
    content: '\2780';
}
a.page2::before{
    content: '\279B';
}
a.page3::before{
    content: '\2740';
}
a.page4::before{
    content: '\26AF';
}

